@import "materialize/components/color";
$primary-color: color("green", "darken-2") !default;
$secondary-color: color("orange", "darken-2") !default;
$error-color: color("red", "base") !default;
$success-color: color("blue", "base") !default;
$fb-login-color: color("indigo", "darken-3") !default;
@import 'materialize';


.index-image {
  width: 364px;
  height: 168px;
}

.card-content-index {
  height: 150px;
  position: relative;
}

.card-image-btn {
    position: absolute;
    right: 24px;
    bottom: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

%flash {
  top: auto !important;
  bottom: 10%;
  left:7%;
}

.alert {
  @extend %flash;
  background-color: $fb-login-color;
}

.notice {
  @extend %flash;
  background-color: $fb-login-color;
}

.success {
  @extend %flash;
  background-color: $success-color;
}

.add-content-btn {
  margin-top: 40px;
}
