@import "materialize/components/color";
$primary-color: color("green", "darken-2") !default;
$secondary-color: color("orange", "darken-2") !default;
$error-color: color("red", "base") !default;
$success-color: color("blue", "base") !default;
@import 'materialize';

.card .card-content {
  height: 150px;
}

u.input-filed input {
  margin-top: 20px;
}

.card-image-btn {
    position: absolute;
    right: 24px;
    bottom: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.alert {
  top: auto !important;
  bottom: 10%;
  left:7%;
  background-color: $error-color;
}

.success {
  top: auto !important;
  bottom: 10%;
  left:7%;
  background-color: $success-color;
}

.add-content-btn {
  margin-top: 40px;
} 