@import "materialize/components/color";
$primary-color: color("green", "darken-2") !default;
$secondary-color: color("orange", "darken-2") !default;
$error-color: color("red", "base") !default;
$success-color: color("green", "base") !default;
$notice-color: color("yellow", "base") !default;
@import 'materialize';

.top-new-joint-btn {
    position: fixed;
    bottom: 2%;
    right: 19%;
}

.card-image-btn {
    position: absolute;
    right: 24px;
    bottom: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.alert {
  top: auto !important;
  bottom: 10%;
  left:7%;
  background-color: $error-color;
}

.success {
  top: auto !important;
  bottom: 10%;
  left:7%;
  background-color: $success-color;
}

.notice {
  top: auto !important;
  bottom: 10%;
  left:7%;
  background-color: $notice-color;
}

nav ul.left.hide-on-med-and-down{
  margin-left: 20px;
}

nav ul.right.hide-on-med-and-down{
  margin-right: 20px;
}