<%= form_with(url: joints_path, method: 'get') do |form| %>
  <div class="input-field">
    <%= form.text_field :search, class: 'validate', id: 'icon_prefix' %>
    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
  </div>
<% end %>
