<div class="input-field col s6 offset-s6">
  <%= form_tag joints_path, method: 'get' do %>
    <i class="material-icons prefix">search</i>
    <%= text_field_tag :search, params[:search], class: 'validate', id: 'icon_prefix' %>
  <% end %>
</div>